// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
    background: url('black-and-white.jpg') no-repeat center center fixed;
    padding-top: 70px;
}

.border-right {
  border-right: 1px solid black;
  padding: 5px;
}

.no-border {
  padding: 5px;
}

.social-follow {
  margin-top: 10px;
}

.follow-button {
  margin-bottom: 5px !important;
}

.profile-pic {
  height: 90px;
  width: 80px;
}
