<div class="social-buttons text-center">
  <a href="https://twitter.com/texgonekc" target="_blank" class="btn btn-social-icon btn-xs btn-twitter">
    <span class="fa fa-twitter"></span>
  </a>

  <a href="https://www.instagram.com/texgonekc/" target="_blank" class="btn btn-social-icon btn-xs btn-instagram">
    <span class="fa fa-instagram"></span>
  </a>

  <a href="https://github.com/rhudgeons" target="_blank" class="btn btn-social-icon btn-xs btn-github">
    <span class="fa fa-github"></span>
  </a>
</div>
