<a class="github-button" href="https://github.com/rhudgeons" aria-label="Follow @rhudgeons on GitHub">
  <%= t('views.welcome.github.follow') %>
</a>
<script async defer id="github-bjs" src="https://buttons.github.io/buttons.js"></script>
