<a href="https://www.instagram.com/texgonekc/" target="_blank" class="btn btn-social btn-xs btn-instagram follow-button">
  <span class="fa fa-instagram"></span><%= t('views.welcome.instagram.follow') %>
</a>
