<div>
  <h1> <%= image_tag('profile-pic.jpg', class: 'img-circle profile-pic') %> Reace Hudgeons</h1>
  <small class="border-right"> Software Engineer </small>
  <small class="border-right"> Crossfit </small>
  <small class="no-border"> Motorcycle Newbie </small>
</div>

<table class="social-follow">
  <tr><td><%= render 'follow_twitter' %></td></tr>
  <tr><td><%= render 'view_instagram' %></td></tr>
  <tr><td><%= render 'follow_github' %></td></tr>
</table>
